/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --primary-color: #009efa;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
    box-sizing: border-box;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background-color: var(--slate);
    color: var(--lightest-slate);
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--navy);
    color: var(--slate);
    font-family: 'Inter', -apple-system, system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.header {
    background-color: var(--navy);
    z-index: 1;
}

.header ul li:last-child {
    padding-right: 0;
}
.container {
    margin-top: 91px;
}
.container .content {
    max-width: 1000px;
}
.text-color-primary {
    color: var(--primary-color);
}
.text-color-light-slate {
    color: var(--light-slate);
}
.text-color-white {
    color: var(--lightest-slate);
}
.section-intro {
    height: 90vh;
}
.section-intro-content {
    padding-top: 160px;
}

.project {
    background-color: #0C2242;
    transition: var(--transition);
}
.project:hover {
    transform: translateY(-5px);
}

.project:hover .icon-header svg {
    color: var(--primary-color);
}