/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --primary-color: #009efa;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
    box-sizing: border-box;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background-color: var(--slate);
    color: var(--lightest-slate);
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--navy);
    color: var(--slate);
    font-family: 'Inter', -apple-system, system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.header {
    background-color: var(--navy);
    z-index: 1;
}

.header ul li:last-child {
    padding-right: 0;
}
.container {
    margin-top: 91px;
    padding: 0 25px;
}
.container .content {
    max-width: 1000px;
}
.text-color-primary {
    color: var(--primary-color);
}
.text-color-light-slate {
    color: var(--light-slate);
}
.text-color-white {
    color: var(--lightest-slate);
}
.bg-slate {
    background-color: var(--lightest-slate);
}
.section-intro {
    height: 90vh;
}
.section-intro-content {
    padding-top: 160px;
}
.timeline-line {
    border-color: var(--lightest-slate);
    left: 15px;
}

.project {
    background-color: #0C2242;
    transition: var(--transition);
}
.project:hover {
    transform: translateY(-5px);
}

.project:hover .icon-header svg {
    color: var(--primary-color);
}

@media screen and (max-width: 480px) {
    .header ul li {
        padding-left: 0;
        padding-right: 0;
    }
    .section-intro {
        height: 90vh;
    }
    .section-intro-content {
        padding-top: 25px;
    }
    .intro-name {
        font-size: 1.9rem;
    }
    .intro-quote {
        font-size: 1.6rem;
    }
    .intro-text {
        margin-bottom: .65rem;
    }
    .intro-social {
        margin-top: 2rem;
    }
    .experience {
        margin: 0;
    }
    .education {
        margin: 0 0 4rem 0;
    }
    .section-title {
        font-size: 1.75rem;
    }
    .header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .header .nav-menu {
        position: fixed;
        top: 0;
        background-color: rgba(12, 34, 66, .8);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        transition: all 330ms ease-out;
    }
    .nav-open {
        transform: translateX(0%);
        right: 0;
    }
    .nav-close {
        transform: translateX(100%);
        right: -100%;
    }
    .nav-button {
        position: absolute;
        top: 50px;
        right: 50px;
    }
    .header .nav-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        background-color: var(--navy);
    }
    .header .nav-menu ul li {
        margin-bottom: 3rem;
        font-size: 1.5rem;
        width: 60%;
        text-align: center;
    }
}

@media screen and (min-width: 481px) {
    .nav-icon {
        display: none;
    }
}